@using Syki.Front.Components.Custom

@namespace Syki.Front.Pages.Student

@page "/student/exam-grades"
@attribute [Authorize(Roles = "Student")]

<PageTitle>Notas</PageTitle>

<MudContainer>
    <SykiPageHeader Icon="@Icons.Material.Filled.StickyNote2" Title="Notas" />
    <MudContainer Class="mb-8">
        <MudExpansionPanels MultiExpansion="true">
            @foreach(var period in _disciplines.ConvertAll(d => d.Period).Distinct().Order())
            {
                <MudExpansionPanel Expanded="@(period==1)">
                    <TitleContent>
                        <div class="d-flex">
                            <MudIcon Icon="@Icons.Material.Filled.ArrowRight" class="mr-3"></MudIcon>
                            <MudText><strong>@($"{period}º Período")</strong></MudText>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <MudTable Items="@_disciplines.Where(x => x.Period == period).OrderBy(x => x.Discipline)" Breakpoint="Breakpoint.Sm" Dense="true">
                            <ColGroup>
                                <col style="width: 45%;" />
                                <col style="width: 15%;" />
                                <col style="width: 10%;" />
                                <col style="width: 10%;" />
                                <col style="width: 10%;" />
                                <col style="width: 10%;" />
                            </ColGroup>
                            <HeaderContent>
                                <MudTh>Disciplina</MudTh>
                                <MudTh>Status</MudTh>
                                <MudTh>N1</MudTh>
                                <MudTh>N2</MudTh>
                                <MudTh>N3</MudTh>
                                <MudTh>Média</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="Disciplina">@context.Discipline</MudTd>
                                <MudTd DataLabel="Status">@context.StudentDisciplineStatus.GetDescription()</MudTd>
                                <MudTd DataLabel="N1">@context.GetNote(ExamType.N1)</MudTd>
                                <MudTd DataLabel="N2">@context.GetNote(ExamType.N2)</MudTd>
                                <MudTd DataLabel="N3">@context.GetNote(ExamType.N3)</MudTd>
                                <MudTd DataLabel="Média">@context.AverageNote.Format()</MudTd>
                            </RowTemplate>
                        </MudTable>
                    </ChildContent>
                </MudExpansionPanel>
            }
        </MudExpansionPanels>
    </MudContainer>
</MudContainer>

@inject GetStudentExamGradesClient Client

@code
{
    private List<StudentExamGradeOut> _disciplines = [];

    protected override async Task OnInitializedAsync()
    {
        _disciplines = await Client.Get();
    }
}
